
<div id="seccion1">
  <h2>Ren Amamiya </h2>
  <p>Ren Amamiya es un estudiante transferido en la Academia Shujin.
     Al comienzo del juego, tiene poco o ningún poder o influencia en el mundo y está restringido por las reglas del sistema en el que nació.</p>
    <img src="https://imgs.search.brave.com/PMX7Qq1mhWQnVl0JaKMcfedNXI-QQNWQ33-5IB1OYlI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L2Zp/Y2Npb24tc2luLWxp/bWl0ZXMvaW1hZ2Vz/L2YvZjUvUmVuLnBu/Zy9yZXZpc2lvbi9s/YXRlc3Qvc2NhbGUt/dG8td2lkdGgtZG93/bi8zNDA_Y2I9MjAy/MDA4MjQwMzAyNDAm/cGF0aC1wcmVmaXg9/ZXM"
     alt="Ren Amamiya" width="300" height="300">
    </div>
<div id="seccion2">
  <h2>Ann Takamaki</h2>
  <p>Ann Takamaki es un personaje jugable de Persona 5.
     Ella es una estudiante de Academia Shujin que vive una doble vida como una Ladrona Fantasma.</p>
     <img src="https://imgs.search.brave.com/cJPTswJAFvd5aWjTOFStVDBdYZ-eJIGq1NRKfKJbtPU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzllLzQ0/LzkxLzllNDQ5MTA3/NjY5MzE1OTQxN2U2/MzdjMzA1NDk2YjYy/LmpwZw"
     alt="Ann Takamaki" width="300" height="300">
</div>
<div id="seccion3">
  <h2>Futaba Sakura</h2>
  <p>Futaba Sakura es un personaje principal de Persona 5.
     Ella es diferente de la tripulación principal de los Ladrones Fantasma porque es un encerrado que no asiste a la escuela y rara vez,
      si alguna vez, sale de su casa.</p>
      <img src="https://imgs.search.brave.com/TwV2GNym2ny7d-ZKsIVmcHtgf5KNjD00L6YfhcnHuT4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jNC53/YWxscGFwZXJmbGFy/ZS5jb20vd2FsbHBh/cGVyLzk3Ni8zNS82/MjMvYW5pbWUtYW5p/bWUtZ2lybHMtcGVy/c29uYS01LXNha3Vy/YS1mdXRhYmEtd2Fs/bHBhcGVyLXByZXZp/ZXcuanBn"
      alt="Futaba Sakura" width="300" height="300">
</div>
<div id="seccion4">
  <h2>Sumire Yoshizawa</h2>
  <p>"Kasumi Yoshizawa", o Sumire Yoshizawa, es un personaje jugable de Persona 5 Royal.
     Ella es una estudiante de la Academia Shujin que vive una doble vida como una ladrona fantasma.</p>
     <img src="https://imgs.search.brave.com/JU3kujRmDLQRa-pESRyKIgMOpv9aQDdxUOh-p1K2xrc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wZXJz/b25hZmFucy5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMjIv/MDUvU3VtaXJlLVlv/c2hpemF3YV9WaW9s/ZXQtUGhhbnRvbS1U/aGlldmVzLU91dGZp/dC5wbmc"
     alt="Sumire Yoshizawa" width="300" height="300">
</div>
